@import url("https://fonts.googleapis.com/css2?family=Numans&family=Poppins:wght@200;300;500;600;900&family=Source+Sans+Pro:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

/*Global*/
.global {
  font-size: 2.5rem;
  text-align: center;
  font-family: "poppins", sans-serif;
  font-weight: 600;
  background: #28215d;
  background: -webkit-linear-gradient(
    to bottom right,
    #28215d 50%,
    #5c42bb 70%,
    #4fc0fc 80%
  );
  background: -moz-linear-gradient(
    to bottom right,
    #28215d 50%,
    #5c42bb 70%,
    #4fc0fc 80%
  );
  background: linear-gradient(
    to bottom right,
    #28215d 50%,
    #5c42bb 70%,
    #4fc0fc 80%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .dropbtn {
    background-color: white;
    color: black;
    padding: 10px 20px 10px 20px ;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
  }
   */

.dropbtn {
  background-image: linear-gradient(
    to right,
    #77a1d3 0%,
    #79cbca 51%,
    #77a1d3 100%
  );
}
.dropbtn {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  border: none;
}

.dropbtn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 2rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
h3 {
  font-size: 22px;
  font-family: "Source Sans Pro", sans-serif;
}
/*header css*/
.header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.header .nav li a,
.header .nav li,
.header .nav {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  color: #535353;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.logo {
  display: flex;
  align-items: center;
}
.header .logo h1 {
  font-family: "Numans", sans-serif;
}

/*landing page css*/
.landing_page {
  display: flex;
  justify-content: space-around;
  min-height: 700px;
  flex-wrap: wrap;
  font-family: "poppins", sans-serif;
  align-items: center;
}
.hero_content {
  display: flex;
  flex-direction: column;
  min-height: 600px;
  justify-content: center;
  max-width: 500px;
}

.hero_content h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 2.1rem;
  letter-spacing: 1px;
  font-weight: 600;
  background: #121fcf;
  background: -webkit-linear-gradient(
    left,
    #121fcf 30%,
    #477eff 60%,
    #55c7cf 100%
  );
  background: -o-linear-gradient(left, #121fcf 30%, #004cff 60%, #55c7cf 100%);
  background: linear-gradient(to right, #000b9b 30%, #477eff 60%, #55c7cf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero_form {
  max-width: 360px;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  padding: 20px;
  border-radius: 20px;
}

.services {
  min-height: 600px;
}

/*services cards*/
.service {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
  min-height: 600px;
}
.service::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#f00, #f0f);
  clip-path: circle(30% at right 90%);
}
.service::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#2196f3, #e91e63);
  clip-path: circle(20% at 10% 10%);
  z-index: -1;
}
.service .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  width: 280px;
  height: 400px;
  margin: 40px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transform-style: preserve-3d;
}

.service .card .content_service {
  padding: 20px;
  text-align: center;
  transition: 0.5s;
  transform-style: preserve-3d;
}

.service .card .content_service h2 {
  position: absolute;
  top: -40px;
  right: 20px;
  font-size: 8em;
  color: rgba(173, 179, 255, 0.4);
  pointer-events: none;
  z-index: -999;
}

.service .card .content_service h3 {
  font-size: 1.8em;
  color: #42478e;
}

.service .card .content_service p {
  font-size: 1em;
  color: gray;
}

.service .card .content_service a {
  font-family: "poppins", sans-serif;
  position: relative;
  top: 20px;
  background: white;
  padding: 5px;
  text-decoration: none;
  color: black;
  border-radius: 20px;
  box-shadow: 2px 4px rgba(230, 230, 230, 0.5);
}
/*services cards end*/
.how {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 300px;
}
.how .how_cards {
  max-width: 300px;
  margin: 30px;
  justify-content: center;
  align-items: baseline;
  display: flex;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  padding: 20px;
  border-radius: 20px;
}

/*footer*/

.main_footer {
  margin-top: 5rem;
}
.footer {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 40px;
  flex-wrap: wrap;
  text-align: center;
}
.sec_one li a,
.sec_two li a,
.sec_three li a {
  text-decoration: none;
  color: gray;
}
h4 {
  margin-bottom: 20px;
  color: #404040;
  font-size: 18px;
  font-family: "poppins";
  font-weight: 500;
}

li {
  margin: 10px;
  list-style: none;
}
li:hover {
  text-decoration: underline;
}

span {
  font-weight: 200;
  font-size: 14px;
  font-family: "poppins";
}
h5 {
  text-align: center;
  font-weight: 300;
  font-family: "poppins";
}
p {
  text-align: left;
  color: gray;
}

a {
  color: gray;
  text-decoration: none;
  font-family: "poppins";
  font-size: 14px;
  font-weight: 400;
}
